<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find favorite restaurant near our beloved University">
    <title>Veteranians</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<a href="#hero" class="skip-to-content">Skip to Content</a>
<header class="container">
    <a href="/" class="brand__logo" aria-label="Veteranians Logo">
        <h1 class="brand__name">VETERANIANS</h1>
    </a>
    <button class="burger" type="button" aria-label="Open navigation">
        ☰
    </button>
    <nav>
        <ul class="nav">
            <li>
                <a href="/" class="nav__item active">Home</a>
            </li>
            <li>
                <a href="#" class="nav__item">Favorite</a>
            </li>
            <li>
                <a href="https://github.com/fadildillah" target="_blank" class="nav__item">About Us</a>
            </li>
        </ul>
    </nav>
    </header>
    <main>
        <section>
            <article id="hero">
                <div class="container">
                    <div class="tagline">
                        <h1>
                            Favorite restaurants<br> near University
                        </h1>
                        <a href="#restaurants">
                            Let's Find Out!
                        </a>
                    </div>
                </div>
            </article>
            <article id="restaurants" class="container">
                <h2>
                    Restaurant Lists
                </h2>
                <div class="restaurants__wrapper"></div>
            </article>
        </section>
        <footer class="container">
            <p>Copyright &copy; 2021 - Fadil</p>
        </footer>
    </main>
</body>
</html>